__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.log
audio/
output/
temp_stt_*.wav
temp_recording.wav
# settings.json contiene API Keys, se recomienda no trackearlo
settings.json
# Túneles y ejecutables
core/tunnels/cloudflared.yml
core/tunnels/temp_cf_*.yml
core/tunnels/tunnel_url.txt
core/tunnels/cloudflared.exe
core/tunnels/ngrok.exe
